/* src/App.css */
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}

main {
  padding-top: 80px; /* To prevent content from being hidden behind the fixed header */
  padding-bottom: 80px; /* To prevent content from being hidden behind the fixed footer */
}
